*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  19px;;
}

body{
    padding: 0;
    margin: 0;
    
    background-color: black;
    color: white;
    line-height: 24px;
}
 /*nav bar*/
 header{
    padding: 7px;
  }
  
  header img{
    width: 145px;
    border-radius: 2px;
  }
  .logo{
    align-self: center;
    width: 100%;
    margin-bottom: 1px ;
  }
  
  .container{
    background: #000000;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    text-align: center;
   
   
  }
  a{
    text-decoration: none;
    color: white;
  }
  nav{
    width: 100%;
  }
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    display: block;
    padding: 2px 8px;
    transition: all 0.5s linear;
    border-radius: 3px;
  }
  nav ul li a:hover{
    background: #4a4a4a;
  }
  
  .buscador{
  
    background: transparent;
    display:inline-block;
    transition: all .5s;
    
  }
  footer h3{
    font-size: 22px;
    height: fit-content;
    padding: 0;
  }
  
  /*barradebuscar*/
  .buscador{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input{
    width: 100%;
    border: none;
    background: rgba(196, 187, 187, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 5px;
  
  }
  .lupa{
    border: none;
    background: rgba(196, 187, 187, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 5px;
  
  }
    
/*titulos*/
 h3 {
    text-align: center;
    overflow: hidden;
    background-color:#252525;
    color: #fff;
    font-size: 25px;
    height: 40px;
    padding: 9px;
  }
a h3:hover{
  text-decoration: underline;
}

/* Generos*/
.genero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.genero img{
    width: 205px;
    height: 280px;
    transition: transform 0.4s;
  }
.genero img:hover{
  transform: scale(1.5);
}

.genero a{
  text-align: center;
    }

  .oculta{
    display: none;
  }


  /*pie de pag*/
  footer{
    background:#252525;
    margin: 5px;
  
  }

  .bott{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  footer img{
    width: 200px;
   
  
  }
footer h3{
  font-size: 19px;
}
/* desktop*/
@media(min-width:1024px){
    header img{
        width: 250px;
        height: 100%;
        margin-left: 0; 
           
    }
    .logo{
        align-self: unset;
    
    }
    nav{
      justify-content: center;
    }
    nav ul li a{
        font-size: 25px;
      margin: 8px;
    }
    
    
    .container{
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    
    }
    .cabecera{
      display: grid;
      grid-template-columns: 3fr 1fr
      ;
    }
    .buscador{
      text-align: center;
      display: flex;
     
      align-items: center;
    }
    input{
      width: 196px;
      border: none;
      background: rgba(196, 187, 187, 0.5);
      border-radius: 3px;
      color: #fff;
      padding: 5px;
    }

    .genero{
      grid-template-columns: repeat(4, 1fr);

    }
    .genero img{
      width: 240px;
    height: 320px;
    }
    h3{
      font-size: 30px;
      height: 62px;
      padding: 20px;
    }

    footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    footer img{
      width: 150px;
    }
    footer section h3{
      margin: 10px;
    }
    footer .redes{
      display: flex;
    }
   
      
 }
 @media(min-width:1378px){
   .genero{
     grid-template-columns: repeat(5, 1fr);
   }
   .oculta{
     display: block;
   }
 }



/*  carrousel */
:root {
	--rojo: #E50914;

  background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}




/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
  } 

}

