  body { 
    background-color: black;
    padding: 0;
    margin: 0;
  
    color: white;
    line-height: 24px;
  }

  *{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      font-size:  19px;
  }
  /*nav bar*/
header{
  padding: 7px;
}

header img{
  width: 145px;
  border-radius: 2px;
}
.logo{
  align-self: center;
  width: 100%;
  margin-bottom: 1px ;
}

.container{
  background: #000000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  text-align: center;
 
 
}
a{
  text-decoration: none;
  color: white;
}
nav{
  width: 100%;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  display: block;
  padding: 2px 8px;
  transition: all 0.5s linear;
  border-radius: 3px;
}
nav ul li a:hover{
  background: #4a4a4a;
}

.buscador{

  background: transparent;
  display:inline-block;
  transition: all .5s;
  
}

/*barradebuscar*/
.buscador{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
input{
  width: 100%;
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;

}
.lupa{
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;

}
  



  /*pelicula principal*/
    .but i{
    margin-right: 10px;
  }
  .button {
    background: rgba(196, 187, 187, 0.5);
    border: none;
    padding: 10px;
    color: #fff;
 
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
 
  }
  .but{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }

  .button:hover{
    background: white;
    color: black;
  }

  .main-peli .titulo{
    background: none;
    text-align: center;
    font-size: 25px;
    margin: 20px;
  }

  .main-peli img{
    width: 100%;
    margin: 0;
  }
  .main-peli .descripcion{
    display: none;
  }
  .lanzamiento{
   margin: 10px;
    background-color: #252525;
    display: block;
    text-align: center;
    color: #fff;

  }


  body {
    background-color: black;
  }


  

 /*tendencias*/
  .tendencias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loimposible{
    display: none;
  }

  /*mas vistas*/     
  .vistas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .avatar{
    display: none;
  }

  /*documentales*/
  .documentales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.atleta{
  display: none;
}


 /*recomendadas*/
 
  .recomendadas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .chihuahua{
    display: none;
  }

/*series*/
.series{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dark{
  display: none;
}


 h3 {
    text-align: center;
    overflow: hidden;
    background-color:#252525;
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
  }
  



  /*zoom de imagenes*/

.peli-serie img{
  width: 205px;
  height: 280px;
}
  .peli-serie img{
    transition: transform 0.4s;
  }
  .peli-serie img:hover{
    transform: scale(1.5);
  }
  
  

  
  a h3:hover {
    text-decoration: underline;
  }



@media(min-width:1024px){
  .lanzamiento{
    display: none;
  }
  .main-peli img{
    display: none;
  }
  
 
  header img{
    width: 250px;
    height: 100%;
    margin-left: 0; 
       
}
.logo{
    align-self: unset;

}
nav{
  justify-content: center;
}
nav ul li a{
    font-size: 25px;
  margin: 8px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

}
.cabecera{
  display: grid;
  grid-template-columns: 3fr 1fr
  ;
}
.buscador{
  text-align: center;
  display: flex;
 
  align-items: center;
}
input{
  width: 196px;
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;
}
  .main-peli{
    font-size: 16px;
    min-height: 650px;
    width: fit-content;
    background: linear-gradient(rgba(0,0,0, 0.50) 0%, rgba(0,0,0,0.50)100%), url(../images/peliculas/palmsprings.jpg);
    color: #ffffff;
    background-size: cover;
    background-position:  center center;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
  }
  .main-peli .titulo{
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: none;
    text-align: start;
    padding: 20px;
  }
  .main-peli .descripcion{
    display: block;
    font-weight: normal;
    font-size: 16px;
    max-width: 50%;
    line-height: 25px;
    margin-bottom: 20px;
    margin-left: 20px;

  }
  .main-peli .but{
    background: none;
    border: none; 
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
   
  }
  .button{
    width: 168px;
  }
  .peli-serie img{
    width: 240px;
    height: 320px;
  }
}
@media(min-width:1374px){
  .dark, .avatar, .loimposible, .chihuahua, .atleta{
    display: block;
  }
}