  body { 
    background-color: black;
    padding: 0;
    margin: 0;
  
    color: white;
    line-height: 24px;
  }

  *{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      font-size:  19px;
  }
  /*nav bar*/
header{
  padding: 7px;
}

header img{
  width: 145px;
  border-radius: 2px;
}
.logo{
  align-self: center;
  width: 100%;
  margin-bottom: 1px ;
}

.container{
  background: #000000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  text-align: center;
 
 
}
a{
  text-decoration: none;
  color: white;
}
nav{
  width: 100%;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  display: block;
  padding: 2px 8px;
  transition: all 0.5s linear;
  border-radius: 3px;
  color: #fff;
}
nav ul li a:hover{
  background: #4a4a4a;
  color: #fff;
  text-decoration: none;
}

.buscador{

  background: transparent;
  display:inline-block;
  transition: all .5s;
  
}

/*barradebuscar*/
.buscador{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
input{
  width: 100%;
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;

}
.lupa{
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;

}
  



  /*pelicula principal*/
    .but i{
    margin-right: 10px;
  }
  .button {
    background: rgba(196, 187, 187, 0.5);
    border: none;
    padding: 8px;
    color: #fff;
 
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
 
  }
  .but{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }

  .button:hover{
    background: white;
    color: black;
  }

  .main-peli .titulo{
    background: none;
    text-align: center;
    font-size: 25px;
    margin: 20px;
  }

  .main-peli img{
    width: 100%;
    margin: 0;
  }
  .main-peli .descripcion{
    display: none;
  }
  .lanzamiento{
   margin: 10px;
    background-color: #252525;
    display: block;
    text-align: center;
    color: #fff;

  }


  body {
    background-color: black;
  }


  .uk-slider-items img{ 
  transition: 0.2s;
}
.uk-slider-items img:hover{
  transform: scale(1.5)
}

 h3 {
    text-align: center;
    overflow: hidden;
    background-color:#252525;
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
  }
 .contenidodeproducto h3 {
    text-align: center;
    overflow: hidden;
    background-color:#252525;
    color: #fff;
   
    font-size: 25px;
    height: 40px;
    padding: 9px;
  }
  




  
  a h3:hover {
    text-decoration: underline;
  }
  footer{
    background:#252525;
    margin: 5px;
  
  }

  .bott{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  footer img{
    width: 200px;
   
  
  }
footer h3{
  font-size: 19px;
  color: #fff;
}

@media(min-width:1024px){
  .lanzamiento{
    display: none;
  }
 
  
 
  header img{
    width: 250px;
    height: 100%;
    margin-left: 0; 
       
}
.logo{
    align-self: unset;

}
nav{
  justify-content: center;
}
nav ul li a{
    font-size: 25px;
  margin: 8px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

}
.cabecera{
  display: grid;
  grid-template-columns: 3fr 1fr
  ;
}
.buscador{
  text-align: center;
  display: flex;
 
  align-items: center;
}
input{
  width: 196px;
  border: none;
  background: rgba(196, 187, 187, 0.5);
  border-radius: 3px;
  color: #fff;
  padding: 5px;
}

  .main-peli .titulo{
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: none;
    text-align: start;
    padding: 20px;
  }
  .main-peli .descripcion{
    display: block;
    font-weight: normal;
    font-size: 16px;
    max-width: 50%;
    line-height: 25px;
    margin-bottom: 20px;
    margin-left: 20px;

  }
  .main-peli .but{
    background: none;
    border: none; 
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
   
  }
  .flex{
    display: flex;
    
  }
  .button{
    width: 168px;
  }
  .peli-serie img{
    width: 240px;
    height: 320px;
  }
  .contenidodeproducto h3{
    font-size: 30px;
    height: 62px;
    padding: 20px;
  }
  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer img{
    width: 150px;
  }
  footer section h3{
    margin: 10px;
  }
  footer .redes{
    display: flex;
  }
 
}
@media(min-width:1374px){
  .dark, .avatar, .loimposible, .chihuahua, .atleta{
    display: block;
  }
}