body { 
  background-color: black;
  padding: 0;
  margin: 0;

  color:white;
  line-height: 24px;
}

*{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  19px;
}
/*nav bar*/
header{
padding: 7px;
}

header img{
width: 145px;
border-radius: 2px;
}
.logo{
align-self: center;
width: 100%;
margin-bottom: 1px ;
}

.container{
background: #000000;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
font-size: 40px;
text-align: center;


}
a{
text-decoration: none;
color: white;
}
nav{
width: 100%;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;

}
nav ul li{
display: inline-block;
}
nav ul li a{
display: block;
padding: 2px 8px;
transition: all 0.5s linear;
border-radius: 3px;
}
nav ul li a:hover{
background: #4a4a4a;
}

.buscador{

background: transparent;
display:inline-block;
transition: all .5s;

}

/*barradebuscar*/
.buscador{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
}
input{
width: 100%;
border: none;
background: rgba(196, 187, 187, 0.5);
border-radius: 3px;
color: #fff;
padding: 5px;

}
.lupa{
border: none;
background: rgba(196, 187, 187, 0.5);
border-radius: 3px;
color: #fff;
padding: 5px;

}




footer{
  background:#252525;
  margin: 5px;
  margin-top: 40px;
}

.bott{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer img{
  width: 200px;
 

}
footer h3{
font-size: 19px;
}


main {
max-width: 800px;
width: 90%;
margin: auto;
padding: 40px;
}



.formulario__label {
display: block;
font-weight: 700;
padding: 10px;
cursor: pointer;
}

.formulario__grupo-input {
position: relative;
}

.formulario__input {
width: 100%;
background:  rgba(196, 187, 187, 0.5);
border: 3px solid transparent;
border-radius: 3px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
  transition: .3s ease all;
  color: white;
}

.formulario__input:focus {
border: 3px solid #0075FF;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
font-size: 12px;
margin-bottom: 0;
display: none;
}

.formulario__input-error-activo {
display: block;
}

.formulario__validacion-estado {
position: absolute;
right: 10px;
bottom: 15px;
z-index: 100;
font-size: 16px;
opacity: 0;
}

.formulario__checkbox {
margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
grid-column: span 2;
}

.formulario__mensaje {
height: 45px;
line-height: 45px;
background: #F66060;
padding: 0 15px;
border-radius: 3px;
display: none;
margin-top: 20px;
}

.formulario__mensaje-activo {
display: block;
}

.formulario__mensaje p {
margin: 0;
background: #F66060;
border-radius: 3px;
}

.formulario__grupo-btn-enviar {
display: flex;
flex-direction: column;
align-items: center;
}

.formulario__btn {
height: 45px;
line-height: 45px;
width: 30%;
background: #000;
color: #fff;
font-weight: bold;
border: none;
border-radius: 3px;
cursor: pointer;
transition: .1s ease all;
margin-top: 55px;
}


.formulario__btn:hover {
box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
font-size: 14px;
color: #119200;
display: none;
}

.formulario__mensaje-exito-activo {
display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
color: #1ed12d;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
color: #bb2929;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (min-width: 1024px) {
  .formulario section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }
.formulario__mensaje{
  margin-top: 53px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: 1;
}

.formulario__btn {
  width: 31%;
  margin-top: 58px;
  }
  header img{
      width: 250px;
      height: 100%;
      margin-left: 0; 
         
  }
  .logo{
      align-self: unset;
  
  }
  nav{
    justify-content: center;
  }
  nav ul li a{
      font-size: 25px;
    margin: 8px;
  }
  
  
  .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  
  }
  .cabecera{
    display: grid;
    grid-template-columns: 3fr 1fr
    ;
  }
  .buscador{
    text-align: center;
    display: flex;
   
    align-items: center;
  }
 
  footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    footer img{
      width: 150px;
    }
    footer section h3{
      margin: 10px;
    }
    footer .redes{
      display: flex;
    }
 }

