  body { 
    background-color: black;
  }

  .header {
    background-color:red;
    padding: 10px;
    text-align: center;
  }
  

  .topnav {
    overflow: hidden;
    background-color: thistle;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: black;
  }
  
  
  .topnav a:hover{
    background-color: white;
    color: black;
  }
  

  .tendencias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
       
  .lasmejores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #container }
    width: 1260px;
    margin: 2px auto;
    border: 10px solid black;
  }


  .buscador {
    display: flex;
  }

  h3 {
    text-align: center;
    overflow: hidden;
    background-color: slateblue;
  }



  .series{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .documentales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .vistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .buscador{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center
  }


  .zoom {
    transition: transform 0.2s;
  }
  
  .zoom:hover{
    transform: scale(1.5);
  }



  .piedepag {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black





