body {
 background-color: black; 
}
h1{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 15px;
  }
  
 
  .header {
    background-color:red;
    padding: 10px;
    text-align: center;
  }
  

  .topnav {
    overflow: hidden;
    background-color: thistle;
   
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: black;
  }
  
  
.topnav a:hover {
    background-color: white;
    color: black;
  }
  

  .tendencias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
       
 .lasmejores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

 }

#container {
    width: 1260px;
    margin: 2px auto;
    border: 10px solid black;
   
}

#piedep {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}



  .vistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
  
.topnav{
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}

.buscador {
  padding: 8px;
}

h3 {
  text-align: center;
  overflow: hidden;
  background-color: #00008B;
  }



.series{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buscador{
  
  text-align: center;
  

}
.documentales{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (min-width:420px){
  ...//mobile

}


