body {
    background-color: red;
}
h1{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 15px;
  }
  
 
  .header {
    background-color: slategrey;
    padding: 10px;
    text-align: center;
  }
  

  .topnav {
    overflow: scroll;
    background-color: thistle;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: black;
  }
  
  
.topnav a:hover {
    background-color: white;
    color: black;
  }
    

  .tendencias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
       
 .lasmejores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-image-width: 0mm;
 }

#container {
    width: 1260px;
    margin: 2px auto;
    border: 10px solid black;
   
}

#piedep {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}



  .vistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
  
.topnav{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.buscador {
  padding: 15px;
}